h1{
  text-align: center;
  font-size: 40px;
}

h2{
  font-size: 27px;
  text-align: center;
}

body {
      font-family: monospace;
      background: #0f172a;
      color: #e5e7eb;
      padding: 20px;
  }


.stats-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start; 
  width: 60%;              
  margin: 0 auto;         
}

.load-bar {
  width: 100%;             
  background-color: #eee;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 15px;    
}

label{
  font-size: 15px;
}

span {
  font-size: 20px;
}

.inside-bar {
  width: 0%;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  border-radius: 10px;
}

.hardware-container{
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  width: 60%;              
  margin: 0 auto; 
}

.hardware-container button {
  background-color: white;
  border-radius: 10px;
  padding:20px 0px;
  flex:1;
  cursor: pointer;
}


