<!DOCTYPE html>
<html>
<head>
  <title>A32 Remote Phone Server</title>
 
  <link rel ="stylesheet" href="/style.css">
</head>
<body>
  <main>
  <h1>A32 Remote Phone Server</h1>
        <h2>Enter your log in credentials</h2>

       <div class="log-in-form"> 
       <form action="">
            <label for="first">
                Username:
            </label>
            <input type="text" id="first" name="first" 
                placeholder="Enter your Username" required>

            <label for="password">
                Password:
            </label>
            <input type="password" id="password" name="password" 
                placeholder="Enter your Password" required>

            <div class="wrap">
                <button type="submit" id="sub-button">
                    Submit
                </button>
            </div>
        </form>
        </div>
  </main>
  <script type="module" src="/main.js"></script>
</body>
</html>
