h1{
  text-align: center;
  font-size: 40px;
}

h2{
  font-size: 27px;
  text-align: center;
}

body {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: monospace;
      background: #0f172a;
      color: #e5e7eb;
      padding: 20px;
      text-align: center;
  }


.stats-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start; 
  width: 60%;              
  margin: 0 auto;         
}

.load-bar {
  width: 100%;             
  background-color: #eee;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 15px;    
}

label{
  font-size: 15px;
}

span {
  font-size: 20px;
}

.inside-bar {
  width: 0%;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  border-radius: 10px;
}

.hardware-container{
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  width: 60%;              
  margin: 0 auto; 
}

.hardware-container button {
  background-color: white;
  border-radius: 10px;
  padding:20px 0px;
  flex:1;
  cursor: pointer;
}


img {
  width: 40%;
  margin: 0;              
  border: 5px solid #555;
  transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1); 
  transform-origin: center center; 

  position: relative;
  z-index: 1;
}


.img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;    
  min-height: 400px;      
  overflow: hidden;      
  position: relative; 
  gap: 40px; 
}

.photbtn-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  gap: 15px; 
  position: relative;
  z-index: 10;
}

.photbtn-container button {
  background-color: white;
  border-radius: 20px;
  padding: 10px 30px; 
  cursor: pointer;
  border: 1px solid #ccc; 
}
/* log in page */

main {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100%;
}

.log-in-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 30%;
    text-align: center;
}

.log-in-form label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
}

.log-in-form input[type="text"],
.log-in-form input[type="password"] {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}


#sub-button {
   padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #0f172a;
    width: 100%;
    font-size: 16px;
}

.log-in-form .wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}


